
@font-face { font-family: 'EB Garamond'; src: url('../../EB_Garamond/EBGaramond-VariableFont_wght.ttf'); }
body {
  font-family: "EB Garamond";
}
#custom-css .sub-header-container {
  margin-top: 11rem;
}
.nextgenlogo {
  background: url('../../static/images/nextgenlogomm.png') no-repeat;
  background-size: contain;
  height: 100%;
}
.textdiv {
  position:absolute;
  right:2rem;
  top:44%;
  color:#5B6E7B;
  font-size:1.1rem;
}
.mainmenu {
  background-color: #5B6E7B;
  top: 0;
  margin:0;
  position: fixed;
  z-index: 17501;
  height: 8rem;
  width: 100%;
}
.mainbanner {
  background-color: #283137;
  top: 0;
  margin:0;
  position: fixed;
  z-index: 17501;
  height: 8rem;
  width: 100%;
}
.mainmenu ol {
  padding-top: 2rem;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.mainmenu li {
  display:inline;
  padding-left:1.5rem;
  padding-right:1.5rem;
  font-size:1rem;
  color:#A2ADB4;
}
.action-button-dislike {
  display: none !important;
}
.alert-info {
  border-color:#A09588;
  background-color:#EAE1CF;
  color:#3e3e3e;
  fill:#3e3e3e !important;
}
#custom-css .header {
  top: 8rem;
  background-color: #C2BD76;
}
#custom-css .ng-star-inserted .header {
  background-color: #f6f6f6 !important;
}
.top-left-block, .header-right {
  background-color: #5B6E7B;
}
#custom-css .sub-header-container {
}
.avatar  {
  border:5px solid #A09588;
}
.avatar.channel, .avatar-32  {
  border:0 solid #A09588;
}
#custom-css .avatar-34 {
  border:2px solid #A09588;
}
.initial.orange {
    background-color:#283137 !important;
}
body#custom-css {
  --mainColor: #3e3e3e;
  --mainBackgroundColor: #f6f6f6;
  --mainForegroundColor: rgba(5,5,5,0.878431);
  --submenuColor: hsla(0, 0%, 100%, .15) hsla(0, 0%, 100%, .7) hsla(0, 0%, 100%, .7) hsla(0, 0%, 100%, .15);;
  --submenuBackgroundColor: #eee;
  --channelBackgroundColor: #eee;
  --inputColor: #272727;
  --inputPlaceholderColor: rgba(195,195,195,0.878431);
  --menuAndHeaderBackgroundColor: #272727;
  --menuForegroundColor: rgba(195,195,195,0.878431);
  --menuBackgroundColor: #283137;
  --whiteColor: #ffffff;
  --mainHoverColor: #999999;
  --mainNavColor: #ccc  !important;
  --actionButtonColor: #ffffff;
  --dangerBackgroundColor: #3e3e3e;
}
