#custom-css ._header ._icon-logo {
  background: url('../../static/images/nextgenlogo.png') no-repeat;
  background-size: contain;
}
.action-button-dislike {
  display: none !important;
}
.alert-info {
  border-color:#A09588;
  background-color:#EAE1CF;
  color:#3e3e3e;
  fill:#3e3e3e !important;
}
#custom-css .header {
  height:14rem;
  background-color: #283137;
}
#custom-css .ng-star-inserted .header {
  height:2rem;
  background-color: #f6f6f6 !important;
}
.top-left-block, .header-right {
  background-color: #5B6E7B;
  margin-top:11rem;
}
#custom-css .sub-header-container {
  margin-top:14rem;
}
.avatar  {
  border:5px solid #A09588;
}
.avatar.channel, .avatar-32  {
  border:0 solid #A09588;
}
#custom-css .avatar-34 {
  border:2px solid #A09588;
}
.initial.orange {
    background-color:#283137 !important;
}
body#custom-css {
  --mainColor: #3e3e3e;
  --mainBackgroundColor: #f6f6f6;
  --mainForegroundColor: rgba(5,5,5,0.878431);
  --submenuColor: hsla(0, 0%, 100%, .15) hsla(0, 0%, 100%, .7) hsla(0, 0%, 100%, .7) hsla(0, 0%, 100%, .15);;
  --submenuBackgroundColor: #eee;
  --channelBackgroundColor: #eee;
  --inputColor: #272727;
  --inputPlaceholderColor: rgba(195,195,195,0.878431);
  --menuAndHeaderBackgroundColor: #272727;
  --menuForegroundColor: rgba(195,195,195,0.878431);
  --menuBackgroundColor: #283137;
  --whiteColor: #ffffff;
  --mainHoverColor: #999999;
  --mainNavColor: #ccc  !important;
  --actionButtonColor: #ffffff;
  --dangerBackgroundColor: #3e3e3e;
}
